@import 'config';
@import 'menu';


* {
    box-sizing: border-box;
    //allows us to include the padding and border
    // in an element's total width and height.
}

body {
    @include background;
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
}

//Headings
h1,
h2,
h3 {
    margin: 0;
    font-weight: 400;

    //the &.lg-heading determines the h tag with the class lg-heading, not nested in it.
    &.lg-heading {
        font-size: 6rem;
        //rem is the multiplier of html font size. The default size is 16px.
    }

    &.sm-heading {
        margin-bottom: 2rem;
        //padding : top/bottom padding, left/right padding
        padding: 0.2rem 1 rem;
        background: rgba(lighten($primary-color, 2), 0.5);
        //lighten just lights the color mentioned by the given quantity.
        //Because I want it to translucent to the bg image, 
        //I am using rgba wround lighten with the opacity quantity .5
    }
}

a {
    color: #fff;
    text-decoration: none;
    //text-decor to take away the ugly html underlines
}

header {
    position: fixed;
    //because we want the menu button i.e the header to be fixed there no matter what.
    //So even if I scroll up/down the menu button should just stay there.
    z-index: 2;
    //he z-index property specifies the stack order of an element.
    //An element with greater stack order is always in front of an element with a lower stack order.
    //The property works only for positioned elems.
    width: 100%
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    //height: 100%;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                //to use a mixin/function, we write @include mixin name
                @include easeOut();
            }
        }

    }

    &#home {
        overflow: hidden;
        //hides the scroll bar for the times we have text 
        //that doesnt fit in the given height of the box.

        h1 {
            margin-top: 20vh;
            //vh = viewport height
        }
    }
}

.about-info {
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
        'bioimage bio bio'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border-radius: 50%;
        border: $secondary-color 3px solid;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .job-1 {
        grid-area: job1;
    }

    .job-2 {
        grid-area: job2;
    }

    .job-3 {
        grid-area: job3;
    }

    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
    }
}

//Work/Projects
.projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(5, 1fr);

    img {
        width: 100%;
        border: 3px #fff solid;

        &:hover {
            opacity: 0.5;
            border-color: $secondary-color;
            @include easeOut;
        }
    }
}

//Contact Page
.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;


    div {
        font-size: 2rem;
        border: 3px #fff solid;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover {
            padding: 0.5rem 1.5rem;
            background: $secondary-color;
            color: set-text-color($secondary-color);

            span {
                color: set-text-color($secondary-color);
            }
        }
    }
}

//Button styles
.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;

    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);

    }
}

.btn-dark {
    @extend .btn;
    background: darken($primary-color, 50);
    color: white;
}

.btn-light {
    @extend .btn;
    background: lighten($primary-color, 50);
    color: #333;

}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}

@import 'mobile';